.li{
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;

    > div {
        display: flex;
        gap: 1rem;
        > img {
            background-color: #dfdfdf;
            width: 4.43rem;
            height: 4.43rem;
        }
    }

    > button {
        background-color: transparent;
        border: none;
    }
}